In [196]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

Desafio: Desenvolver o modelo preditivo do valor target disponível na base de dados
Clientes.csv. Vocês irão dividir a base train.csv em duas amostras: uma para treino e
outra para validação.
A partir do modelo escolhido vocês irão prever quais clientes tem propensão a ficar
inadimplente na base test.

In [197]:
data = pd.read_csv("./clientes.csv", sep=",")
pd.set_option('display.max_columns', None)
data.head(5)

,ids,target_default,score_1,score_2,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,credit_limit,reason,income,facebook_profile,state,zip,channel,job_name,real_state,ok_since,n_bankruptcies,n_defaulted_loans,n_accounts,n_issues,application_time_applied,application_time_in_funnel,email,external_data_provider_credit_checks_last_2_year,external_data_provider_credit_checks_last_month,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_first_name,external_data_provider_fraud_score,lat_lon,marketing_channel,profile_phone_number,reported_income,shipping_state,shipping_zip_code,profile_tags,user_agent,target_fraud
0,343b7e7b-2cf8-e508-b8fd-0a0285af30aa,False,1Rk8w4Ucd5yR3KcqZzLdow==,IOVu8au3ISbo6+zmfnYwMg==,350.0,101.800832,0.259555,108.427273,0.40,25033.92,36.0,0.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,65014.12,True,sjJbkqJS7cXalHLBFA+EOQ==,Ernn+uVXCMq/6ARrBCcd+A==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==,NaN,0.0,0.0,18.0,18.0,07:52:34,444,outlook.com,NaN,2,0.0,51.0,leidelaura,645,"(-29.151545708122246, -51.1386461804385)",Invite-email,514-9840782,57849.0,BR-MT,17528,"{'tags': ['n19', 'n8']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
1,bc2c7502-bbad-0f8c-39c3-94e881967124,False,DGCQep2AE5QRkNCshIAlFQ==,SaamrHMo23l/3TwXOWgVzw==,370.0,97.062615,0.942655,92.002546,0.24,NaN,NaN,39726.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,100018.91,False,xsd3ZdsI3356I3xMxZeiqQ==,rlWIXTBO+VOa34+SpGyhlQ==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==,50.0,0.0,0.0,14.0,14.0,02:34:29,346,gmail.com,0.0,1,0.0,17.0,diocezio,243,"(-19.687710705798963, -47.94151536525154)",Radio-commercial,251-3659293,4902.0,BR-RS,40933,"{'tags': ['n6', 'n7', 'nim']}",Mozilla/5.0 (Linux; Android 5.0.2; SAMSUNG SM-...,NaN
2,669630dd-2e6a-0396-84bf-455e5009c922,True,DGCQep2AE5QRkNCshIAlFQ==,Fv28Bz0YRTVAT5kl1bAV6g==,360.0,100.027073,0.351918,112.892453,0.29,7207.92,36.0,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,65023.65,NaN,Ygq6MsM98oC8yceExr69Ig==,PjTIDfJsK0DKL9fO7vuW2g==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==,NaN,0.0,0.0,10.0,NaN,00:60:02,6,gmail.com,NaN,2,NaN,9.0,veralucia,65,"(-28.748023890412284, -51.867279334353995)",Waiting-list,230-6097993,163679.0,BR-RR,50985,"{'tags': ['n0', 'n17', 'nim', 'da']}",Mozilla/5.0 (Linux; Android 6.0.1; SGP771 Buil...,NaN
3,d235609e-b6cb-0ccc-a329-d4f12e7ebdc1,False,1Rk8w4Ucd5yR3KcqZzLdow==,dCm9hFKfdRm7ej3jW+gyxw==,510.0,101.599485,0.987673,94.902491,0.32,NaN,NaN,54591.0,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,68830.01,False,KET/Pmr6rHp1RJ/P9ymztw==,Cc/kWDLQH3dpHv5HU+pLVA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiE56f...,n+xK9CfX0bCn77lClTWviw==,NaN,1.0,0.0,19.0,19.0,11:20:49,406,spgov.com,NaN,3,NaN,38.0,venice,815,"(-17.520650158450454, -39.75801139933186)",Waiting-list,261-3543751,1086.0,BR-RN,37825,{'tags': ['n4']},Mozilla/5.0 (Linux; Android 6.0; HTC One X10 B...,NaN
4,9e0eb880-e8f4-3faa-67d8-f5cdd2b3932b,False,8k8UDR4Yx0qasAjkGrUZLw==,+CxEO4w7jv3QPI/BQbyqAA==,500.0,98.474289,0.532539,118.126207,0.18,NaN,NaN,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,60011.29,True,xsd3ZdsI3356I3xMxZeiqQ==,i036nmJ7rfxo+3EvCD7Jnw==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==,NaN,0.0,0.0,11.0,NaN,13:39:03,240,gmail.com,0.0,2,1.0,46.0,darzisa,320,"(-16.574259446978008, -39.90990074785962)",Invite-email,102-3660162,198618.0,BR-MT,52827,"{'tags': ['pro+aty', 'n19', 'da', 'b19']}",Mozilla/5.0 (Linux; Android 7.0; Pixel C Build...,NaN

In [198]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 43 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   ids                                               45000 non-null  object
 1   target_default                                    41741 non-null  object
 2   score_1                                           44438 non-null  object
 3   score_2                                           44438 non-null  object
 4   score_3                                           44438 non-null  float64
 5   score_4                                           45000 non-null  float64
 6   score_5                                           45000 non-null  float64
 7   score_6                                           45000 non-null  float64
 8   risk_rate                                         44438 non-null  float64
 9   last_amount_borrowed                              15044 non-null  float64
 10  last_borrowed_in_months                           15044 non-null  float64
 11  credit_limit                                      31200 non-null  float64
 12  reason                                            44434 non-null  object
 13  income                                            44438 non-null  float64
 14  facebook_profile                                  40542 non-null  object
 15  state                                             44438 non-null  object
 16  zip                                               44438 non-null  object
 17  channel                                           44438 non-null  object
 18  job_name                                          41664 non-null  object
 19  real_state                                        44438 non-null  object
 20  ok_since                                          18455 non-null  float64
 21  n_bankruptcies                                    44303 non-null  float64
 22  n_defaulted_loans                                 44426 non-null  float64
 23  n_accounts                                        44438 non-null  float64
 24  n_issues                                          33456 non-null  float64
 25  application_time_applied                          45000 non-null  object
 26  application_time_in_funnel                        45000 non-null  int64
 27  email                                             45000 non-null  object
 28  external_data_provider_credit_checks_last_2_year  22372 non-null  float64
 29  external_data_provider_credit_checks_last_month   45000 non-null  int64
 30  external_data_provider_credit_checks_last_year    29876 non-null  float64
 31  external_data_provider_email_seen_before          42767 non-null  float64
 32  external_data_provider_first_name                 45000 non-null  object
 33  external_data_provider_fraud_score                45000 non-null  int64
 34  lat_lon                                           43637 non-null  object
 35  marketing_channel                                 41422 non-null  object
 36  profile_phone_number                              45000 non-null  object
 37  reported_income                                   45000 non-null  float64
 38  shipping_state                                    45000 non-null  object
 39  shipping_zip_code                                 45000 non-null  int64
 40  profile_tags                                      45000 non-null  object
 41  user_agent                                        44278 non-null  object
 42  target_fraud                                      1522 non-null   object
dtypes: float64(18), int64(4), object(21)
memory usage: 14.8+ MB

In [199]:
data.describe()

,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,credit_limit,income,ok_since,n_bankruptcies,n_defaulted_loans,n_accounts,n_issues,application_time_in_funnel,external_data_provider_credit_checks_last_2_year,external_data_provider_credit_checks_last_month,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_fraud_score,reported_income,shipping_zip_code
count,44438.000000,45000.000000,45000.000000,45000.000000,44438.000000,15044.000000,15044.000000,31200.000000,4.443800e+04,18455.000000,44303.000000,44426.000000,44438.000000,33456.000000,45000.000000,22372.0,45000.000000,29876.000000,42767.000000,45000.000000,45000.00,45000.000000
mean,347.983258,100.006797,0.500037,99.925228,0.296717,13782.341991,41.763893,34381.951154,7.160739e+04,35.069737,0.076270,0.004569,10.696701,11.068119,247.537000,0.0,1.501067,0.503381,12.534781,500.399800,inf,33923.514844
std,110.429165,3.178080,0.288326,10.016549,0.101933,8077.571933,10.252705,36586.982218,5.185897e+04,21.663194,0.274052,0.079400,4.592463,4.595501,146.118398,0.0,1.114941,0.499997,126.530487,287.968873,NaN,12692.406382
min,0.000000,86.191572,0.000035,60.663039,0.000000,1005.180000,36.000000,0.000000,4.821180e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,-999.000000,0.000000,403.00,12001.000000
25%,270.000000,97.867036,0.252150,93.198353,0.220000,7519.502500,36.000000,10000.000000,4.501078e+04,17.000000,0.000000,0.000000,7.000000,8.000000,120.000000,0.0,1.000000,0.000000,11.000000,252.000000,50948.25,22937.000000
50%,340.000000,100.018900,0.500753,99.974796,0.290000,12023.465000,36.000000,25647.000000,6.126676e+04,32.000000,0.000000,0.000000,10.000000,10.000000,248.000000,0.0,2.000000,1.000000,27.000000,503.000000,101779.00,33896.000000
75%,420.000000,102.141797,0.748816,106.640275,0.360000,19220.270000,36.000000,47086.750000,8.601923e+04,50.000000,0.000000,0.000000,13.000000,14.000000,375.000000,0.0,2.000000,1.000000,43.000000,747.000000,151337.25,44910.000000
max,990.000000,113.978234,0.999973,142.192400,0.900000,35059.600000,60.000000,448269.000000,5.000028e+06,141.000000,5.000000,5.000000,49.000000,49.000000,500.000000,0.0,3.000000,1.000000,59.000000,1000.000000,inf,56000.000000

In [200]:
# Removendo variaveis criptografadas
data.drop(['score_1', 'score_2', 'reason', 'state', 'zip', 'channel', 'job_name', 'real_state'], axis=1, inplace=True)

In [201]:
# Removendo variaveis que não ajudam no modelo
data.drop(['facebook_profile', 'email', 'ids', 'user_agent', 'target_fraud', 'marketing_channel', 'profile_phone_number', 'external_data_provider_credit_checks_last_2_year', 'external_data_provider_email_seen_before', 'profile_tags'], axis=1, inplace=True)

In [202]:
# Removendo valores nullos da variavel target
data = data[data['target_default'].notnull()]

In [203]:
# Removendo valores nullos da variavel lar_lon
data = data[data['lat_lon'].notnull()]

In [204]:

# Preenchendo variaveis null do limite de cartão de crédito com a mediana
data['credit_limit'] = data['credit_limit'].fillna(data['credit_limit'].median())

In [205]:
data['n_issues'] = data['n_issues'].fillna(data['n_issues'].median())

In [206]:
data['ok_since'] = data['ok_since'].fillna(0)
data['external_data_provider_credit_checks_last_year'] = data['external_data_provider_credit_checks_last_year'].fillna(0)
data['last_borrowed_in_months'] = data['last_borrowed_in_months'].fillna(0)
data['last_amount_borrowed'] = data['last_amount_borrowed'].fillna(0)

In [207]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40479 entries, 0 to 44999
Data columns (total 25 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   target_default                                   40479 non-null  object
 1   score_3                                          40479 non-null  float64
 2   score_4                                          40479 non-null  float64
 3   score_5                                          40479 non-null  float64
 4   score_6                                          40479 non-null  float64
 5   risk_rate                                        40479 non-null  float64
 6   last_amount_borrowed                             40479 non-null  float64
 7   last_borrowed_in_months                          40479 non-null  float64
 8   credit_limit                                     40479 non-null  float64
 9   income                                           40479 non-null  float64
 10  ok_since                                         40479 non-null  float64
 11  n_bankruptcies                                   40346 non-null  float64
 12  n_defaulted_loans                                40467 non-null  float64
 13  n_accounts                                       40479 non-null  float64
 14  n_issues                                         40479 non-null  float64
 15  application_time_applied                         40479 non-null  object
 16  application_time_in_funnel                       40479 non-null  int64
 17  external_data_provider_credit_checks_last_month  40479 non-null  int64
 18  external_data_provider_credit_checks_last_year   40479 non-null  float64
 19  external_data_provider_first_name                40479 non-null  object
 20  external_data_provider_fraud_score               40479 non-null  int64
 21  lat_lon                                          40479 non-null  object
 22  reported_income                                  40479 non-null  float64
 23  shipping_state                                   40479 non-null  object
 24  shipping_zip_code                                40479 non-null  int64
dtypes: float64(16), int64(4), object(5)
memory usage: 8.0+ MB

In [208]:
data[data['target_default'] == True] = 1 
data[data['target_default'] == False] = 0 

data['target_default'] = pd.to_numeric(data['target_default'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40479 entries, 0 to 44999
Data columns (total 25 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   target_default                                   40479 non-null  int64
 1   score_3                                          40479 non-null  float64
 2   score_4                                          40479 non-null  float64
 3   score_5                                          40479 non-null  float64
 4   score_6                                          40479 non-null  float64
 5   risk_rate                                        40479 non-null  float64
 6   last_amount_borrowed                             40479 non-null  float64
 7   last_borrowed_in_months                          40479 non-null  float64
 8   credit_limit                                     40479 non-null  float64
 9   income                                           40479 non-null  float64
 10  ok_since                                         40479 non-null  float64
 11  n_bankruptcies                                   40479 non-null  float64
 12  n_defaulted_loans                                40479 non-null  float64
 13  n_accounts                                       40479 non-null  float64
 14  n_issues                                         40479 non-null  float64
 15  application_time_applied                         40479 non-null  object
 16  application_time_in_funnel                       40479 non-null  int64
 17  external_data_provider_credit_checks_last_month  40479 non-null  int64
 18  external_data_provider_credit_checks_last_year   40479 non-null  float64
 19  external_data_provider_first_name                40479 non-null  object
 20  external_data_provider_fraud_score               40479 non-null  int64
 21  lat_lon                                          40479 non-null  object
 22  reported_income                                  40479 non-null  float64
 23  shipping_state                                   40479 non-null  object
 24  shipping_zip_code                                40479 non-null  int64
dtypes: float64(16), int64(5), object(4)
memory usage: 8.0+ MB

In [216]:
data.dtypes
data['lat_lon']

0        0
1        0
2        1
3        0
4        0
        ..
44995    0
44996    0
44997    0
44998    1
44999    0
Name: lat_lon, Length: 40479, dtype: object

In [210]:
# Dividindo os dados em treino e teste:
X_train, X_test, y_train, y_test = train_test_split(data.drop('target_default',axis=1),data['target_default'],test_size=0.3, random_state=17)

In [211]:
Classif_tree = DecisionTreeClassifier()
classif = Classif_tree.fit(X_train, y_train)

In [212]:
y_pred_all = classif.predict(X_test)

In [213]:
from sklearn.metrics import confusion_matrix
# Matriz de Confusão

confusion_matrix = confusion_matrix(y_test, y_pred_all)
confusion_matrix

array([[10238,     0],
       [    0,  1906]], dtype=int64)

In [214]:
print(classification_report(y_test, y_pred_all))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     10238
           1       1.00      1.00      1.00      1906

    accuracy                           1.00     12144
   macro avg       1.00      1.00      1.00     12144
weighted avg       1.00      1.00      1.00     12144

In [217]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, y_train) * 100, 2)
acc_log

100.0